@charset "UTF-8";
/*  Base 
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, button, input, textarea, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  box-sizing: border-box;
  line-height: 1;
}

nav, ul, li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
}

body {
  font-family: "游ゴシック Medium", "游ゴシック", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  color: #093945;
}

.header {
  height: 100vh;
  min-height: 660px;
  background: linear-gradient(to right, rgba(125, 220, 160, 0.7), rgba(60, 115, 148, 0.7)), url(../img/bg_main.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__inner {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .header__inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 5%;
  }
}

.header__logo {
  max-width: 70%;
  width: 470px;
}

.header__sns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header__sns li {
  margin-right: 30px;
}

.header__sns li:last-child {
  margin-right: 0;
}

.header__sns li a {
  transition: all .5s ease;
  display: block;
}

.header__sns li a:hover {
  opacity: .7;
}

.header__arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.footer {
  background: #383838;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.container {
  width: 100%;
  padding: 80px 0;
}

.container__ttl {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  background: #329CB5;
  display: inline-block;
  min-width: 274px;
  padding: 18px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color .5s ease, box-shadow .5s ease;
  cursor: pointer;
}

.btn:after {
  content: "";
  display: inline-block;
  background: url(../img/arrow_btn.svg) no-repeat center center;
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  transition: transform .5s ease;
}

.btn:hover {
  background: #5dc0d6;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover:after {
  transform: translateX(2px);
}

.about {
  background: url(../img/bg_about_logo.svg), url(../img/pt_about.gif);
  background-repeat: no-repeat, repeat;
  background-size: auto 100%, auto;
  background-position: center center;
}

.about__inner {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .about__inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 768px) {
  .about__inner {
    padding: 0 5%;
  }
}

.about__text {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 30px;
}

.about__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 414px) {
  .about__text {
    text-align-last: left;
  }
}

.about__quote {
  background: rgba(228, 228, 228, 0.5);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.event {
  background: #F5F8F8;
}

.event__inner {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .event__inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 768px) {
  .event__inner {
    padding: 0 5%;
  }
}

.event__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 414px) {
  .event__list {
    flex-direction: column;
  }
}

.event__btn-wrap {
  text-align: center;
  margin-top: 50px;
}

.event-item {
  width: calc(94% / 3);
  margin-right: 3%;
}

.event-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 414px) {
  .event-item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5vw;
  }
  .event-item:last-child {
    margin-bottom: 0;
  }
}

.event-item__img {
  overflow: hidden;
}

.event-item__info {
  padding: 15px;
}

.event-link {
  display: block;
  text-decoration: none;
  background: #fff;
  transition: all .6s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.event-link__img-body {
  height: calc(980px * 94 / 300 * 0.65);
  transition: all .5s ease;
}

@media screen and (max-width: 980px) {
  .event-link__img-body {
    height: 19.14467vw;
  }
}

@media screen and (max-width: 414px) {
  .event-link__img-body {
    height: 58.5vw;
  }
}

.event-link__ttl {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  height: 3em;
  margin-bottom: 20px;
  color: #093945;
  overflow: hidden;
}

.event-link__ttl-inner {
  background-image: linear-gradient(180deg, transparent 45%, #d2ffef 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .6s ease;
}

.event-link__date {
  font-size: 14px;
  color: #ccc;
  font-weight: bold;
  transition: color .6s ease;
}

.event-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
}

.event-link:hover .event-link__img-body {
  transform: scale(1.1);
  opacity: .7;
}

.event-link:hover .event-link__ttl-inner {
  background-size: 100% 100%;
}

.event-link:hover .event-link__date {
  color: #83e0bf;
}

.contact__inner {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .contact__inner {
    padding: 0 3%;
  }
}

@media screen and (max-width: 768px) {
  .contact__inner {
    padding: 0 5%;
  }
}

.contact__form {
  max-width: 600px;
  margin: 0 auto;
}

.contact__form label {
  display: block;
  font-size: 14px;
  color: #959595;
  margin-bottom: 10px;
}

.contact__form input[type=text],
.contact__form input[type=email],
.contact__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.4;
}

.contact__form textarea {
  height: 5.6em;
}

.contact__btn-wrap {
  text-align: center;
  margin-top: 50px;
}

/*# sourceMappingURL=maps/style.css.map */
