.event-item {
  width: calc(94% / 3);
  margin-right: 3%;
  &:last-child {
    margin-right: 0;
  }
  @include mq(lsp) {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5vw;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    overflow: hidden;
  }
  &__info {
    padding: 15px;
  }
}